@charset "utf-8";

.mod-gift{
    .gifts{
        &.cnt-list{
            background: transparent;
            border-top: 0;
        }
        li{
            margin-top: .2rem;
            background: #fff;
            &.item{
                border-top: solid 1px #dfdfdd;
            }
        }
    }
    .default{
        .hd{
            height: .76rem;
            padding: 0 .28rem;
            line-height: .76rem;
            h2{
                color: #888;
                font-size: .28rem;
            }
        } 
        .bd{
            li{
                margin-top: 0;
            }
        }

    }
    .gift-cont{
        .cont{
            padding: 0 1.9rem 0 1.16rem;
        }
        .btn{
            top: .46rem;
            a{
                padding: .15rem .18rem;
            }
        }
    }
    .default-msg{
        margin-top: .4rem;
    }
}