@charset "utf-8";

.mod-game{
    .games{
        &.cnt-list{
            li:first-child{
                margin-top: .2rem;
            }
        }
    }
    .default{
        .hd{
            height: .76rem;
            padding: 0 .28rem;
            line-height: .76rem;
            h2{
                color: #888;
                font-size: .28rem;
            }
        }

    }
    .default-msg{
        margin-top: .4rem;
    }
}