@charset "utf-8";
.mod-info {
    overflow: hidden;
    .info {
        ul {
            overflow: hidden;
            padding-left: .48rem;
            background: #fff;
        }
        li {
            height: 1.68rem;
            padding-right: .48rem;
            border-bottom: solid 1px #e0e0e0;
            font-size: 0.42rem;
            line-height: 1.68rem;
            &:last-child {
                border-bottom: none;
            }
        }
        a {
            position: relative;
            display: block;
            height: 100%;
            color: #212121;
            &:after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 0;
                width: 0.22rem;
                height: 0.22rem;
                margin-top: -0.11rem;
                border: solid 1px #010101;
                border-top: none;
                border-left: none;
                @include rotate(-45deg);
            }
            &.nogo {
                &:after {
                    border: none;
                }
                .elm {
                    margin-right: 0;
                }
            }
        }
        .elm {
            @extend %fr;
            margin-right: .42rem;
            color: #bdbdbd;
        }
        .avatar {
            position: absolute;
            top: 50%;
            right: 0;
            width: 1.2rem;
            height: 1.2rem;
            margin-top: -0.6rem;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .oauth {
            margin-left: 0.25rem;
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            text-indent: -9999px;
            overflow: hidden;
        }
        .oauth-qq {
            width: 0.42rem;
            height: 0.44rem;
            background: image-url('h/member/oauth-qq.png') no-repeat center;
            background-size: contain;
            &.active {
                background: image-url('h/member/oauth-qq-on.png') no-repeat center;
                background-size: contain;
            }
        }
        .oauth-wx {
            width: 0.48rem;
            height: 0.41rem;
            background: image-url('h/member/oauth-wx.png') no-repeat center;
            background-size: contain;
            &.active {
                background: image-url('h/member/oauth-wx-on.png') no-repeat center;
                background-size: contain;
            }
        }
        .oauth-weibo {
            width: 0.48rem;
            height: 0.39rem;
            background: image-url('h/member/oauth-weibo.png') no-repeat center;
            background-size: contain;
            &.active {
                background: image-url('h/member/oauth-weibo-on.png') no-repeat center;
                background-size: contain;
            }
        }
    }
}
