@charset "utf-8";
html {
    @media screen and (min-width: 1081px) {
        font-size: 40px!important; //屏幕宽度大于1080px一般是pc端，显示640px宽度
    }
}

html,
body,
.container {
    height: 100%;
}

.cont-bg {
    position: relative;
    height: 100%;
    overflow: hidden;
    .shade {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.popup-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .popup {
        width: 100%;
        height: 100%;
        text-align: center;
        &::before {
            content: "\200B";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
    .inner {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        width: 9.18rem;
        background: #fff;
        padding-bottom: 0.8rem;
        @include box-sizing(border-box);
        @include border-radius(0.3rem);
    }
    .logo {
        padding: 0.6rem 0.44rem 0;
        width: 100%;
        height: 1.94rem;
        text-align: center;
        @include box-sizing(border-box);
        .txt {
            margin-left: 0.2rem;
            display: inline-block;
            color: #333;
            font-size: 0.6rem;
            vertical-align: middle;
        }
        .dot {
            display: inline-block;
            margin: 0 0.18rem;
            width: 0.12rem;
            height: 0.12rem;
            background-color: #999;
            @include border-radius(50%);
            overflow: hidden;
            vertical-align: middle;
        }
        img {
            width: 0.84rem;
            height: 0.84rem;
            vertical-align: middle;
        }
    }
}

.mod-form {
    padding: 0 0.44rem;
    .form-item {
        position: relative;
        height: 1.2rem;
        margin-bottom: 0.4rem;
        padding: 0 0.3rem 0 1rem;
        border: solid 1px #dfdfdd;
        @include border-radius(0.1rem);
        .input-model {
            display: block;
            width: 100%;
            height: 1.2rem;
            line-height: 0.6rem;
            padding: 0.3rem 0;
            font-size: 0.5rem;
            color: #000;
            -webkit-appearance: none;
        }
        .show-pwd {
            position: absolute;
            top: 0;
            right: 0;
            width: 1rem;
            height: 100%;
        }
        i {
            position: absolute;
            left: 0;
            width: 0.5rem;
            height: 0.6rem;
            &.ic-tel {
                left: 0.24rem;
                top: 0.38rem;
                width: 0.5rem;
                height: 0.5rem;
                background: image-url("h/tg/public/ic-mobile.png") no-repeat center;
                background-size: 100% auto;
            }
            &.ic-code {
                left: 0.24rem;
                top: 0.36rem;
                width: 0.5rem;
                height: 0.46rem;
                background: image-url("h/tg/public/ic-code.png") no-repeat center;
                background-size: 100% auto;
            }
            &.ic-user {
                left: 0.28rem;
                top: 0.38rem;
                width: 0.35rem;
                height: 0.5rem;
                background: image-url("h/tg/public/ic-user.png") no-repeat center;
                background-size: 100% auto;
            }
            &.ic-password {
                left: 0.24rem;
                top: 0.3rem;
                width: 0.49rem;
                height: 0.6rem;
                background: image-url("h/tg/public/ic-password.png") no-repeat center;
                background-size: 100% auto;
            }
            &.ic-captcha {
                left: 0.24rem;
                top: 0.3rem;
                width: 0.49rem;
                height: 0.6rem;
                background: image-url("h/tg/public/ic-captcha.png") no-repeat center;
                background-size: 100% auto;
            }
            &.ic-eye {
                top: 0.3rem;
                width: 0.72rem;
                height: 0.6rem;
                background: image-url("h/public/ic-eye.png") no-repeat center;
                background-size: contain;
            }
            &.ic-eye-on {
                background: inline-image('h/public/ic-eye-on.png') no-repeat center;
                background-size: contain;
            }
        }
    }
    .form-item-code {
        padding: 0 3.9rem 0 1rem;
        .sendcode {
            position: absolute;
            top: 0;
            right: 0;
            width: 3.8rem;
            height: 1.2rem;
            line-height: 1.2rem;
            background: #ffbe00;
            @include box-sizing(border-box);
            color: #fff;
            font-size: 0.4rem;
            text-align: center;
            &.button-disabled {
                padding: 0.1rem 0.2rem 0 0.2rem;
                background: #dfdfdf;
                line-height: 0.52rem;
            }
        }
    }
    .form-item-password {
        padding: 0 1.2rem 0 1rem;
    }
    .form-item-captcha {
        padding: 0 3.9rem 0 1rem;
        .captcha-wrap {
            position: absolute;
            top: 0;
            right: 0;
            width: 3.8rem;
            height: 1.2rem;
            img {
                width: 3.8rem;
                height: 1.2rem;
            }
        }
    }
}

@charset "utf-8";

/*第三方登录*/

.oauth {
    overflow: hidden;
    .hd {
        height: 0.9rem;
        border-bottom: solid 1px #ccc;
        text-align: center;
        margin: 0 0.3rem;
        span {
            position: relative;
            top: 0.64rem;
            padding: 0 0.3rem;
            background: #fff;
            color: #333;
            font-size: 0.52rem;
        }
    }
    .bd {
        overflow: hidden;
        padding-top: 0.66rem;
        ul {
            @extend %flex;
        }
        li {
            @extend %flex;
            width: 33.33%;
            text-align: center;
        }
        a {
            @extend %flex;
            width: 1.68rem;
            height: 1.68rem;
            border: 1px solid #e3e3e2;
            @include border-radius(50%);
        }
        span {
            display: block;
            font-size: 0;
            text-indent: -9999px;
            overflow: hidden;
            &.ic-qq {
                width: 0.88rem;
                height: 1.0rem;
                background: image-url("h/tg/public/ic-qq.png") no-repeat center;
                background-size: contain;
            }
            &.ic-weixin {
                width: 1.0rem;
                height: 0.95rem;
                background: image-url("h/tg/public/ic-weixin.png") no-repeat center;
                background-size: contain;
            }
            &.ic-weibo {
                width: 1.07rem;
                height: 0.86rem;
                background: image-url("h/tg/public/ic-weibo.png") no-repeat center;
                background-size: contain;
            }
        }
    }
}

.landscape-oauth {
    padding: 0.42rem 0.44rem 0;
    @extend %fn-clear;
    .hd {
        @extend %fl;
        width: 33%;
        line-height: 1.7rem;
        color: #333;
        font-size: 0.52rem;
    }
    .bd {
        @extend %fl;
        width: 66.5%;
        text-align: center;
        @include box-sizing(border-box);
        ul {
            width: 100%;
        }
        li {
            display: inline-block;
            width: 32%;
            text-align: center;
        }
        a {
            display: inline-block;
            width: 1.68rem;
            height: 1.68rem;
            line-height: 1.68rem;
            border: 1px solid #e3e3e2;
            @include border-radius(50%);
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            text-indent: -9999px;
            overflow: hidden;
            &.ic-qq {
                width: 0.88rem;
                height: 1.0rem;
                background: image-url("h/tg/public/ic-qq.png") no-repeat center;
                background-size: contain;
            }
            &.ic-weixin {
                width: 1.0rem;
                height: 0.95rem;
                background: image-url("h/tg/public/ic-weixin.png") no-repeat center;
                background-size: contain;
            }
            &.ic-weibo {
                width: 1.07rem;
                height: 0.86rem;
                background: image-url("h/tg/public/ic-weibo.png") no-repeat center;
                background-size: contain;
            }
        }
    }
}
