@charset "utf-8";

.mod-rank{
	overflow: hidden;
	.rank-type{
        width: 100%;
        margin-bottom: .24rem;
        font-size: 0;
        text-align: center;
		.type{
			display: inline-block;
			overflow: hidden;
			width: 3.42rem;
			height: .94rem;
            border: solid 1px #050202;
			text-align: center;
            color: #212121;
            line-height: .94rem;
			font-size: .48rem;
            &.active{
                background: #212121;
                border-color: #212121;
                color: #fff;
            }
            &:first-child{
                @include border-top-left-radius(3px);
                @include border-bottom-left-radius(3px);
            }
            &:last-child{
                @include border-top-right-radius(3px);
                @include border-bottom-right-radius(3px);
            }
		}
	}
	.rank{
		overflow: hidden;
		padding: 0 .48rem;
        background: #fff;
	}
	.show-pic{
		width: 100%;
		height: 3.48rem;
        padding-top: .48rem;
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.ranklist{
		overflow: hidden;
		li{
			position: relative;
			border-bottom: solid 1px #e0e0e0;
			&:last-child{
				border-bottom: none;
			}
            &.j-link{
                min-height: 1.44rem;
                padding: .48rem 0;
            }
		}
	}
	.pic {
        position: absolute;
        top: 50%;
        left: 0;
        width: 2.8rem;
        height: 1.44rem;
        margin-top: -0.72rem;
        @include box-sizing(border-box);
        font-size: 0;
        .num{
            display: inline-block;
            width: 1.1rem;
        	font-size: .72rem;
            text-align: center;
        	vertical-align: middle;
        	color: #757575;
        }
        .num-red{
        	color: #f36c60;
        }
        img {
            display: inline-block;
            width: 1.44rem;
            height: 1.44rem;
            @include border-radius(16.66%);
        }
    }
    .cont {
        padding: 0 2.26rem 0 2.74rem;
        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        h3 {
            font-size: .6rem;
            line-height: .88rem;
        }
        .description {
            font-size: .42rem;
            color: #757575;
            line-height: .54rem;
            text-align: justify;
        }
    }
    .button {
        position: absolute;
        top: 50%;
        right: 0;
    }
    .btn-start {
        display: block;
        width: 2.02rem;
        padding: .23rem 0;
        margin-top: -0.44rem;
        @include border-radius(3px);
        background: #ffc107;
        color: #212121;
        text-align: center;
        font-size: .42rem;
    }
}