h3{font-family: "Microsoft YaHei";margin-bottom: 10px;padding-right:40px;border-bottom: 1px solid #DDD;}
h3 span{font-size: 14px;float: right;}

.modalBg {display: none;width: 100%;height: 100%;background: #000;opacity: 0.2;position: fixed;left:0;top:0;z-index: 99999;}
.modalbox {display: none;width: 420px;min-height: 68px;border: 1px solid #CCC;position: absolute;margin:0 0 0 -210px;left: 50%;top: 150px;background: #FFF;z-index: 9999999;}
.modalbox .title {height: 27px;line-height: 27px;padding: 0 0 0 5px;font-weight: bold;font-size: 13px;background: #EAEAEA;border-bottom: 1px solid #CCC;}
.modalbox .content {min-height: 27px;margin: 10px 0;font-size: 13px;padding-left: 15px;}
.modalbox .content span {display: block;padding: 3px 0;}
.modalbox .msg {font-size: 13px;padding-left: 15px;}
.modalbox .error {color:red;}
.modalbox .success {color:green;}
.modalbox .btnbox {text-align: right;padding-right: 15px;margin: 0 0 10px;}
.modalbox .btn {padding: 3px 8px;border: 1px solid #CCC;background: #EAEAEA;}
.modalbox .btn:hover {background: #DDD;}
.modalbox .disableBtn {cursor: default;}

ul, li {list-style: none;margin: 0;padding: 0;}
.apibox .item {margin: 10px 0;}
.apibox .item {width: 650px;overflow: hidden;}
.apibox .item label {width: 120px;text-align: right;margin-right: 10px;}
.apibox .item .text {width:330px;}
.apibox .item .textarea {height: 60px;}
.apibox .item .descript {display:inline-block;padding: 1px 0;font-size: 11px;color: #888;width: 100%;margin-left:130px; }
.apibox .item input.text, .apibox .item label {float: left;}
.apibox .item input.iradio {margin-left: 10px;}
.submit-item .btn {margin-left: 130px;}
.submit-item .btn:hover {background: #CCC;}
.msg {margin-left: 10px;margin-bottom: 10px;}
.error-msg {color:red;}
.success-msg {color:green;}

/* tips */
.item .tips .title {width: 120px;text-align: right;margin-right: 10px;font-weight: bold;display: inline-block;}

/* plan search */
.statSearch .item {margin-right: 10px;display: inline-block;overflow: hidden;z-index: 1;left: 0;top:0;}

/* plan code */
.planmult {display: none;width: 490px;min-height: 30px;overflow-x: hidden;overflow-y: auto;background: #FFF;border: 1px solid #CCC;position: absolute;left: 45%;top: 160px;margin-left:-245px;z-index: 99999999;}
.planmult .title {height: 27px;line-height: 27px;background: #f1f1f1;border-bottom: 1px solid #CCC;padding: 1px 0 1px 10px;font-weight: bold;font-size: 12px;}
.statSearch .pinput {cursor: default;border: 1px solid #DDD; padding: 1px 5px;}
.planmult .close {float: right;margin-right: 10px;}
.planmult dl {padding: 5px;margin: 5px;}
.planmult dl dd {font-size: 13px;height: 27px;line-height: 27px;width: 230px;overflow:hidden;display: inline-block;}
.planmult dl dt {font-size: 13px;height: 27px;line-height: 27px;width: 100%;overflow:hidden;font-weight: normal;}
.planmult dl dd span {margin-left: 1px;}
.planmult dl dd input {padding:5px 0;}

/* changeRealtimeInput */
.changeRealtime {position: relative;z-index: 1;}
.changeRealtimeInput {width: 95%;height: 98%;background: #FFF;border: 0 none;position: absolute;left: 0;top: 0;padding-left: 5px;display: none;z-index: 99999;}
.changeRealtimeText em {font-size: 12px;}