@charset "utf-8";
@include bounceIn;
html,
body {
    height: 100%;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.mod-follow {
    overflow: hidden;
    .bg1 {
        width: 100%;
        height: 4.47rem;
        background: image-url("h/tg/redpackage/follow/bg1.png") no-repeat center;
        background-size: 100%;
    }
    .bg2 {
        position: relative;
        width: 100%;
        height: 7.99rem;
        background: image-url("h/tg/redpackage/follow/bg2.png") no-repeat center;
        background-size: 100%;
        .btn {
            position: absolute;
            top: 1.57rem;
            left: 50%;
            width: 3.5rem;
            height: 3.59rem;
            margin-left: -1.75rem;
            background: image-url("h/tg/redpackage/follow/get-btn.png") no-repeat center;
            background-size: contain;
            font-size: 0;
            line-height: 0;
            &:active {
                opacity: .95;
            }
        }
        .btnActive {
            background: image-url("h/tg/redpackage/follow/got-btn.png") no-repeat center;
            background-size: contain;
        }
        .desc {
            width: 100%;
            position: absolute;
            bottom: 1.1rem;
            left: 0;
            font-size: 0.5rem;
            color: #fddc8b;
            text-align: center;
            line-height: 0.8rem;
        }
    }
    .bg3 {
        width: 100%;
        min-height: 5.56rem;
        background: image-url("h/tg/redpackage/follow/bg3.png") no-repeat top;
        background-size: 100%;
    }
    .rule {
        padding: 1.9rem 0.4rem 0;
        width: 66.2%;
        dt {
            padding: 0 0 0.3rem 0.1rem;
            font-size: 0.48rem;
        }
        dd {
            font-size: 0.42rem;
            line-height: 0.65rem;
            color: #999;
        }
    }
}

.code-box-wrap {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .code-box {
        width: 100%;
        height: 100%;
        @extend %flex;
        background-color: rgba(0, 0, 0, .87);
        font-size: 0.36rem;
        .inner {
            position: relative;
            @include box-sizing(border-box);
            padding: 0.288rem 0.63rem;
            width: 6.62rem;
            height: 8.1rem;
            background-color: #fff;
            -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-duration: .3s;
            animation-duration: .3s;
        }
        .title {
            padding-bottom: 0.43rem;
        }
        .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.3rem;
            .close-inner {
                display: block;
                width: 0.37rem;
                height: 0.37rem;
                background: image-url("h/public/close.png") no-repeat center;
                background-size: contain;
            }
        }
        .code {
            text-align: center;
            img {
                width: 5.36rem;
                height: 5.33rem;
            }
        }
        .tip {
            padding-top: 0.14rem;
            text-align: center;
            line-height: 0.6rem;
        }
    }
}
