@charset "utf-8";
.mod-area {
    .select {
        padding-bottom: .3rem;
        ul {
            @extend %fn-clear;
            margin-right: -.3rem;
        }
        li {
            @extend %fl;
            width: 2.04rem;
            margin-right: .3rem;
            margin-bottom: .2rem;
            a {
                display: block;
                &.active {
                    span {
                        background: #fff;
                        border: solid 1px #f76260;
                        color: #f76260;
                    }
                }
            }
            span {
                display: block;
                height: .6rem;
                border: solid 1px #dfdfdf;
                background: #f8f8f8;
                @include border-radius(4px);
                @include box-sizing(border-box);
                line-height: .6rem;
                text-align: center;
            }
            input {
                width: 1.62rem;
                height: .6rem;
                padding: .15rem .05rem;
                margin-right: .06rem;
                background: #fff;
                border: solid 1px #dfdfdf;
                @include border-radius(4px);
                line-height: .3rem;
            }
        }
    }
}
