@charset "utf-8";

.mod-game{
    .select{
        ul{
            @extend %fn-clear;
        }
        li{
            @extend %fl;
            width: 25%;
            margin-bottom: .4rem;
            a{
                display: block;
            }
            img{
                display: block;
                width: .96rem;
                height: .96rem;
                margin: 0 auto;
            }
            span{
                display: block;
                overflow: hidden;
                margin-top: .2rem;
                white-space: nowrap;
                text-align: center;
                line-height: .3rem;
            }
        }
    }
}