@charset "utf-8";

.mod-payway{
    .select{
        padding-bottom: .4rem;
        .bd{
            text-align: center;
            font-size: 0;
        }
        a{
            position: relative;
            display: inline-block;
            width: 2.6rem;
            height: .96rem;
            margin: 0 .22rem;
            padding-left: .9rem;
            border: solid 1px #dfdfdd;
            @include box-sizing(border-box);
            font-size: .28rem;
            line-height: .92rem;
            &.active{
                border-color: #f76260;
            }
        }
        i{
            position: absolute;
            top: .1rem;
            width: .72rem;
            height: .72rem;
            @extend %pay-icon-png;
            &.ic-zfb{
                left: .15rem;
                background-position: 0 0;
            }
            &.ic-wx{
                left: .2rem;
                background-position: 0 -1rem;
            }
        }
    }
}