@charset "utf-8";
.mod-message {
    overflow: hidden;
    ul {
        overflow: hidden;
        padding-left: .48rem;
        background: #fff;
    }
    .item {
        height: 1.62rem;
        padding-right: .48rem;
        border-bottom: solid 1px #e0e0e0;
        line-height: 1.62rem;
        &:last-child {
            border-bottom: none;
        }
        a {
            display: block;
        }
        .cont {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: .48rem;
        }
        .datetime {
            @extend %fr;
            height: 100%;
            padding-left: .2rem;
            color: #bdbdbd;
            font-size: .36rem;
        }
    }
}
