.login-page .login-header{
    padding: 50px 0;
}
.login-page.login-form-fall .login-form{
    top:0;
}
.login-page .login-form .form-group .btn-login{
    text-align:center;
}
#checkCode{
    width:100px;
    line-height: 50px\9;
    height:50px;
}
.checkImg{
    float: right;
}
.login-page .login-form .form-group .input-group .input-group-addon, .login-page .login-form .form-group .input-group .form-control{
    border:none;
}
.login-page .form-register-success, .login-page .form-forgotpassword-success, .login-page .form-login-error{
    display:block;background-color:#FFF;
    color:#000;
}
.login-page .form-register-success.form-login-error, .login-page .form-forgotpassword-success.form-login-error, .login-page .form-login-error.form-login-error{
    background-color:#EEE;
    color:#000;
}

p.description{
    color:#FFF;
}
.checkImg{cursor:pointer}