@charset "utf-8";
.user-header {
    position: relative;
    margin-bottom: 0.24rem;
    width: 100%;
    height: 1.68rem;
    @include box-sizing(border-box);
    background: #f7f7f8;
    @include box-shadow(0px 1px 3px rgba(0,0,0,0.26));
    overflow: hidden;
    .back {
        position: absolute;
        left: 0.48rem;
        top: 0.36rem;
        width: 0.96rem;
        height: 0.96rem;
        background: image-url("h/member/back.png") no-repeat center;
        background-size: 100%;
    }
    .logo {
        &:before {
            content: "\200B";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            display: inline-block;
            width: 3.37rem;
            height: 1.04rem;
        }
    }
}
