@charset "utf-8";
.module {
    background-color: #fff;
    .hd {
        height: 1rem;
        padding: 0 0.48rem;
        border-bottom: 1px solid #e0e0e0;
        line-height: 1rem;
        font-size: 0.48rem;
    }
}

.mod-avatar-curr {
    .bd {
        padding: 0.48rem 0;
        text-align: center;
    }
    img {
        vertical-align: bottom;
    }
    .big,
    .small {
        display: inline-block;
        margin-right: 0.47rem;
    }
    .big {
        img {
            width: 2.0rem;
            height: 2.0rem;
        }
    }
    .small {
        img {
            width: 1.0rem;
            height: 1.0rem;
        }
    }
}

.mod-avatar-random {
    margin-top: 0.24rem;
    .hd {
        position: relative;
        a {
            position: absolute;
            right: 0;
            top: 0;
            height: 1rem;
            line-height: 1rem;
            padding: 0 0.48rem 0 0.76rem;
            background: image-url('h/member/change.png') no-repeat left;
            background-size: 0.48rem 0.48rem;
        }
    }
    .bd {
        margin: 0 2.5%;
        padding-bottom: 0.48rem;
        ul {
            @extend %fn-clear;
            width: 100%;
        }
        li {
            @extend %fl;
            width: 25%;
            margin-top: 0.48rem;
            text-align: center;
            @include box-sizing(border-box);
            .inner {
                position: relative;
                display: inline-block;
                border: 0.06rem solid #fff;
                @include border-radius(0.06rem);
            }
            img {
                display: block;
                width: 2.0rem;
                height: 2.0rem;
            }
            .select-icon {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0.48rem;
                height: 0.48rem;
                background: inline-image('h/member/select-avatar.png') no-repeat center;
                background-size: contain;
            }
        }
        .active {
            .inner {
                border-color: #ffc107;
            }
        }
    }
}

.btn-wrap {
    padding: 0.4rem 0.48rem;
    .submit-btn {
        width: 100%;
        height: 1.44rem;
        line-height: 1.44rem;
        font-size: 0.48rem;
        color: #fff;
        background-color: #2baf2b;
        text-align: center;
        font-family: 'Microsoft YaHei';
        @include border-radius(4px);
    }
}
