@charset "utf-8";
@include bounceIn;

/* 对话框主体 */

.mod-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    @extend %flex;
    .dialog-inner {
        padding-top: 0.52rem;
        width: 9.16rem;
        position: relative;
        background-color: #fff;
        @include border-radius(3px);
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: .18s;
        animation-duration: .18s;
        text-align: center;
    }
    .title {
        @include box-sizing(border-box);
        padding: 0 0.14rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.46rem;
        height: 0.58rem;
        line-height: 0.58rem;
        color: #212121;
        -webkit-touch-callout: none;
        @include user-select(none);
    }
    .disc {
        padding: 0.52rem 0.43rem 0.58rem;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 0.46rem;
        line-height: 0.52rem;
        color: #888;
        border-bottom: 1px solid #dfdfdf;
    }
    .btns {
        height: 1.18rem;
        line-height: 1.18rem;
        width: 100%;
        overflow: hidden;
        @extend %flex;
        a {
            display: block;
            height: 100%;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: center;
            font-size: 0.52rem;
            text-decoration: none;
            border-right: 1px solid #dfdfdf;
            &:last-child {
                border-right: none;
            }
            &.yes {
                color: #00c000;
            }
            &.cancel {
                color: #212121;
            }
        }
    }
}


/* 遮罩层 */

.dialogshade {
    background: rgba(0, 0, 0, .5);
}
