@charset "utf-8";
.mod-contact {
    ul {
        padding-left: .48rem;
        background: #fff;
    }
    li {
        height: 1.6rem;
        padding: .47rem 0 .47rem 2rem;
        border-bottom: solid 1px #bdbdbd;
        font-size: .32rem;
        &:last-child {
            border-bottom: none;
        }
        &.person1 {
            background: image-url('h/help/icon_per2.png') no-repeat center left;
            background-size: 1.6rem 1.6rem;
        }
        &.person2 {
            background: image-url('h/help/icon_per3.png') no-repeat center left;
            background-size: 1.6rem 1.6rem;
        }
        &.person3 {
            background: image-url('h/help/icon_per4.png') no-repeat center left;
            background-size: 1.6rem 1.6rem;
        }
        .tit {
            font-size: .48rem;
            line-height: .9rem;
            color: #757575;
        }
        .contact {
            font-size: .6rem;
        }
    }
}
