@charset "utf-8";
.mod-business {
    .cont {
        @extend %fn-clear;
        margin-bottom: .24rem;
        padding: .48rem .48rem .38rem 2.46rem;
        
        font-size: .42rem;
        dt {
            padding: .28rem 0 .4rem 0;
        }
        dd {
            position: relative;
            text-align: justify;
            line-height: .72rem;
            color: #757575;
        }
        .desc {
            margin-bottom: .24rem;
        }
    }
    .per1{
        background: #fff image-url('h/help/icon_per1.png') no-repeat .48rem .48rem;
        background-size: 1.6rem 1.6rem;
    }
    .per2{
        background: #fff image-url('h/help/icon_per5.png') no-repeat .48rem .48rem;
        background-size: 1.6rem 1.6rem;
    }
    .per3{
        background: #fff image-url('h/help/icon_per6.png') no-repeat .48rem .48rem;
        background-size: 1.6rem 1.6rem;
    }
}
