@charset "utf-8";
body {
    background: #fff;
}

.mod-nav {
    background-color: #fff;
}

.mod-detail {
    overflow: hidden;
    padding: .24rem .48rem;
    .hd {
        h2 {
            font-size: .6rem;
            color: #ffa000;
            line-height: .72rem;
            text-align: justify;
        }
        .time {
            line-height: 1.08rem;
            font-size: .42rem;
            color: #bdbdbd;
        }
    }
    .bd {
        line-height: .72rem;
        font-size: .48rem;
        text-align: justify;
        color: #757575;
    }
}
