@charset "utf-8";
.mod-sign {
    position: relative;
    width: 100%;
    height: 4.7rem;
    text-align: center;
    background: image-url('h/member/sign/sign_bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    font-size: 0;
    .total {
        position: absolute;
        left: .48rem;
        top: .48rem;
        color: #212121;
        font-size: .44rem;
    }
    .price {
        position: absolute;
        left: .48rem;
        top: 1.08rem;
        font-size: .44rem;
        color: #ffa000;
    }
    .strategy {
        position: absolute;
        right: 0;
        top: 0;
        padding: .48rem .48rem;
        color: #ffa000;
        font-size: .44rem;
    }
    .btn {
        display: inline-block;
        margin: .68rem 0;
        width: 3.32rem;
        height: 3.26rem;
        background: image-url('h/member/sign/sign_btn.png') no-repeat;
        background-size: 100%;
        text-align: center;
        text-indent: -0.1rem;
        @include border-radius(50%);
        .sign {
            display: block;
            margin-top: 1rem;
            font-size: .6rem;
            color: #212121;
            line-height: 1;
        }
        .continuity {
            position: relative;
            display: block;
            margin-top: .52rem;
            font-size: .36rem;
            color: #212121;
            line-height: 1;
            &:before {
                content: "";
                position: absolute;
                top: -0.18rem;
                left: 0.8rem;
                width: 1.66rem;
                height: 1px;
                background-color: #000;
            }
            em {
                padding: 0 1px 0 2px;
                text-align: center;
            }
        }
    }
}

.mod-games {
    @extend %fn-clear;
    margin-top: .26rem;
    background: #fff;
    .hd {
        height: 1rem;
        padding: 0 .48rem;
        border-bottom: solid 1px #e0e0e0;
        line-height: 1rem;
        font-size: .48rem;
    }
    .bd {
        overflow: hidden;
        padding: 0 .48rem;
        li {
            position: relative;
            border-bottom: solid 1px #e0e0e0;
            &:last-child {
                border-bottom: none;
            }
            &.j-link {
                min-height: 1.8rem;
                padding: .48rem 0;
            }
        }
    }
    .pic {
        position: absolute;
        top: 50%;
        left: 0;
        width: 1.8rem;
        height: 1.8rem;
        margin-top: -0.9rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
            @include border-radius(16.66%);
        }
    }
    .cont {
        padding: 0 2.26rem 0 2.04rem;
        h3 {
            font-size: .6rem;
            line-height: .7rem;
            padding: 0.2rem 0;
            span {
                position: relative;
                top: -0.05rem;
                overflow: hidden;
                display: inline-block;
                padding: 0.08rem 0;
                width: 0.9rem;
                margin-left: 0.15rem;
                color: #fff;
                line-height: 1;
                text-align: center;
                font-size: 0.32rem;
                vertical-align: middle;
                @include border-radius(0.05rem);
            }
            .gift {
                background: #5677fc;
            }
            .hot {
                background: #e51c23;
            }
        }
        .description {
            font-size: .42rem;
            color: #757575;
            line-height: .54rem;
            text-align: justify;
        }
    }
    .button {
        position: absolute;
        top: 50%;
        right: 0;
    }
    .btn-start {
        display: block;
        width: 2.02rem;
        padding: .23rem 0;
        margin-top: -0.44rem;
        @include border-radius(3px);
        background: #ffc107;
        color: #212121;
        text-align: center;
        font-size: .42rem;
    }
}

.mod-calendar {
    display: none;
    position: fixed;
    top: 3.5rem;
    left: 50%;
    margin-left: -4.4rem;
    width: 8.8rem;
    padding-bottom: .6rem;
    background-color: #fff;
    @include border-radius(.25rem);
    z-index: 9999;
    .head {
        position: absolute;
        top: -0.64rem;
        left: 50%;
        margin-left: -2.83rem;
        width: 5.65rem;
        height: 1.09rem;
        background: image-url('h/member/sign/successed.png') no-repeat;
        background-size: 100% 100%;
        color: #fff;
        text-align: center;
        font-size: .54rem;
        line-height: .86rem;
    }
    .close {
        position: absolute;
        top: -1.74rem;
        right: 0;
        width: 0.78rem;
        height: 0.78rem;
        background: image-url('h/member/sign/close.png') no-repeat;
        background-size: 100% 100%;
    }
    .title {
        margin: .9rem 0 .5rem 0;
        text-align: center;
        color: #666;
        font-size: 0.48rem;
        span {
            padding: 0 .16rem;
            color: #f03131;
        }
    }
    .thead {
        padding: 0 .24rem;
        text-align: center;
        font-size: .42rem;
        table {
            width: 100%;
            td {
                height: .8rem;
                color: #f03131;
                background-color: #ffedeb;
                font-weight: normal;
            }
        }
    }
    .table {
        margin-top: .15rem;
        padding: 0 8px;
        font-size: .42rem;
        table {
            width: 100%;
            td {
                height: .9rem;
                text-align: center;
                color: #333;
                background-color: #fff;
                span {
                    display: inline-block;
                    width: .75rem;
                    height: .75rem;
                    line-height: .78rem;
                }
                &.active {
                    span {
                        color: #fff;
                        background-color: #51c97a;
                        @include border-radius(50%);
                    }
                }
                &.disabled {
                    color: #b6b6b6;
                    span {
                        color: #b6b6b6 !important;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .pic {
        margin-top: .6rem;
        width: 100%;
        height: 3.78rem;
        background-color: #b6b6b6;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.mod-strategy {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    .inner {
        position: relative;
        margin: 5rem auto 0;
        width: 8.82rem;
        padding: .44rem 0 .72rem 0;
        @include box-sizing(border-box);
        pointer-events: auto;
    }
    .title {
        position: absolute;
        top: 0;
        left: 50%;
        width: 6.15rem;
        height: .96rem;
        margin-left: -3.04rem;
        background: image-url('h/member/sign/title_bg.png') no-repeat center;
        background-size: contain;
        line-height: .9rem;
        text-align: center;
        text-indent: -0.1rem;
        font-size: .48rem;
    }
    .cont {
        width: 100%;
        height: 5.4rem;
        background: #fff;
        padding: 1.3rem 0.1rem 1.36rem;
        @include box-sizing(border-box);
        @include border-radius(4px);
        text-align: center;
        line-height: .92rem;
        font-size: .48rem;
    }
    .txt-red {
        padding: 0 .12rem;
        color: #ffa000;
    }
    .btn-close {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1.44rem;
        height: 1.44rem;
        margin-left: -0.72rem;
        background: image-url('h/member/sign/sign_close.png') no-repeat center;
        background-size: contain;
        font-size: 0;
        line-height: 0;
    }
}

.mod-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    @include opacity(0.54);
    z-index: 1111;
}
