@charset "utf-8";
html,
body {
    height: 100%;
    background: #e72e2e;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.mod-reg {
    overflow: hidden;
    .top {
        position: relative;
        height: 9.76rem;
        background: image-url("h/tg/redpackage/reg_bg.png") no-repeat;
        background-size: 100% auto;
        .btn {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 3.5rem;
            height: 3.59rem;
            margin-left: -1.75rem;
            background: image-url("h/tg/redpackage/reg_btn.png") no-repeat;
            background-size: 100%;
            font-size: 0;
            line-height: 0;
        }
        .btnActive {
            background: image-url("h/tg/redpackage/reg_active_btn.png") no-repeat;
            background-size: 100%;
        }
    }
    .main {
        margin-top: .35rem;
        padding: 0 .7rem 1.8rem;
        color: #ffc;
        .date {
            font-size: .72rem;
            text-align: center;
            padding-bottom: .12rem;
        }
        dl {
            overflow: hidden;
            line-height: .72rem;
            font-size: .48rem;
            padding-top: .72rem;
        }
        dd {
            text-align: justify;
        }
    }
}
