@charset "utf-8";
@include bouncedelay;
.mod-gift {
    .giftlist {
        overflow: hidden;
        background: #fff;
        ul {
            overflow: hidden;
            padding: 0 .48rem;
        }
        li {
            border-bottom: solid 1px #e0e0e0;
            &:last-child {
                border-bottom: none;
            }
        }
        a {
            position: relative;
            display: block;
            min-height: 1.8rem;
            padding: .48rem 0;
        }
    }
    .pic {
        position: absolute;
        top: 50%;
        left: 0;
        width: 1.8rem;
        height: 1.8rem;
        margin-top: -0.9rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
            @include border-radius(16.66%);
        }
    }
    .cont {
        padding: 0 2.26rem 0 2.04rem;
        h3 {
            padding: .2rem 0;
            text-align: justify;
            line-height: .7rem;
            font-size: .6rem;
            color: #000;
        }
    }
    .progress {
        line-height: .48rem;
        font-size: 0;
    }
    .txt {
        color: #757575;
        font-size: .42rem;
        vertical-align: middle;
    }
    .progressBar {
        position: relative;
        display: inline-block;
        width: 4rem;
        height: .48rem;
        margin-left: .24rem;
        background: #ebebeb;
        vertical-align: middle;
        i {
            display: inline-block;
            height: 100%;
            background: #ffc107;
        }
        .num {
            position: absolute;
            top: .05rem;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: .36rem;
            z-index: 1;
        }
    }
    .button {
        position: absolute;
        top: 50%;
        right: 0;
        width: 2rem;
        padding: .2rem 0;
        margin-top: -0.42rem;
        background: #ffc107;
        border: solid 1px #ffc107;
        @include border-radius(3px);
        font-size: .42rem;
        text-align: center;
        &.see {
            background: #ebebeb;
            border-color: #bdbdbd;
        }
        &.got {
            background: #ebebeb;
            border-color: #bdbdbd;
            color: #bdbdbd;
        }
    }
}

.mod-more {
    padding: 0.45rem 0;
    margin: 0 .48rem;
    border-top: solid 1px #e0e0e0;
    text-align: center;
    font-size: 0.42rem;
}

.mod-loading {
    margin: 0.3rem auto;
    width: 0.85rem;
    height: 0.85rem;
    position: relative;
    .conbox {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .conbox2 {
        @include transform(rotateZ(45deg));
    }
    .conbox3 {
        @include transform(rotateZ(90deg));
    }
    i {
        width: 0.15rem;
        height: 0.15rem;
        background-color: #888;
        @include border-radius(100%);
        position: absolute;
        @include animation(bouncedelay 1.2s infinite ease-in-out);
        @include animation-fill-mode(both);
    }
    .cir1 {
        top: 0;
        left: 0;
    }
    .cir2 {
        top: 0;
        right: 0;
        @include animation-delay(-0.9s);
    }
    .cir3 {
        right: 0;
        bottom: 0;
        @include animation-delay(-0.6s);
    }
    .cir4 {
        left: 0;
        bottom: 0;
        @include animation-delay(-0.3s);
    }
}
