[product] ;线上环境配置

;网站信息
url_domain = "http://www.chenxiaobo.me/"
url_style = "/style/"
url_script = "/script/"
url_image = "/image/"
web_version = 201610081507

;加密密钥
secret_password = ''



[test:product] ;测试环境配置



[develop:product];开发环境配置