[product]
;线上环境配置
;[前台样式]
web_domain 		= "http://www.enychen.com/"
web_style 		= "/www/css/"
web_script 		= "/www/js/"
web_image 		= "/www/img/"

;[加密密钥]
member_remember_key = ''
member_reg_key = ''

[test:product]
;测试环境配置


[develop:product]
;开发环境配置
web_domain 		= "http://www.local.enychen.com/"