[product]
;线上环境配置
;[Mysql数据库]
mysql.master.dsn = ''
mysql.master.username=''
mysql.master.password=''

;[redis数据库]
redis.master.host='127.0.0.1'
redis.master.port=6379
redis.master.db=0
redis.master.auth=
redis.master.timeout=30
redis.master.options.prefix=
redis.master.options.read_timemout=-1


[test:product]
;测试环境配置


[develop:product]
;开发环境配置