;mysql数据库-yyouxi
database.platform.type = 'mysql'
database.platform.host = ''
database.platform.port = '3306'
database.platform.dbname = ''
database.platform.charset = 'utf8'
database.platform.username = ''
database.platform.password = ''

;redis数据库
redis.master.host = ''
redis.master.port = 6379
redis.master.auth =
redis.master.db = 0
redis.master.timeout = 30
redis.master.options.prefix =