.block {display:block}
header a{
  text-decoration: none;
  color: #db3c29;
}
header h1{
  font-weight: bolder;
}
header a:hover{
  text-decoration: none;
  color: #45bcf2;
}
.nav-x{
  line-height: 50px;
}
.nav-x a{
  width: 120px;
  text-align: center;
}
.navbar {
  margin-bottom:0 !important;
}
.main {
  padding:15px 0;
  background: #e8e8e8;
}
.main .content .page{
  margin: 15px 0px;
  background: #f1f1f1; 
  border: 1px solid #ccc;
}
.main .content .page .page-title{
  font-weight: bolder;
}
/* .main .content .page a{
  margin-left: 1000px;
} */
.main  .picture-1 .row-show img{
  width: 290px;
  height:271px;
}
.row .thumbnail:hover{
  outline: 3px solid #F7610C;
  border-radius: 0;
  border: none;
}
.main .picture-1 .row-show1 h4{
  font-weight: bolder;
  color: #F86108;
}
.main .picture-1 .row-show1 p{
  font-size: 13px;
  font-weight: bolder;
}
.main .picture-1 .row-show1 small{
  color: #0b73bb;
}
.main .picture-1 .row-show1 .btn{
  margin-left: 100px;
}
.main .title-2 .back{
  background: #e8e8e8 !important;
}
.sel{
  font-weight: bolder;
  color: #F7610C !important;
}
.main .picture-2{
  margin-top: 15px;
}
.main .picture-2 .distance{
  margin-top: 10px;
}
.main .picture-2 .row-show2 img{
  width: 262.5px;
  height: 290px;
}
.main .picture-2 .work-title{
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  text-align: center;
  width: 262.5px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
} 
.carousel-control.right,.carousel-control.left {
  background-image: none !important;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  font-size: 80px !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
   margin-left: -70px !important;
}
.main .content .page .type .type-x{
  width: 100px;
}
.picture .row-work p,.picture .row-work a{
  text-align: center;
  color: #000;
}
.pagination{
  box-shadow: 2px 2px 2px 2px #ccc;
}
.top{
  border: 1px solid #ccc;
}
.top .left{
    margin: 20px;
}
.top .left img{
  width: 400px;
  height: 420px;
}
.top .left h3{
  margin-left:10px;
  font-weight: bolder;
}
.top .price{
  margin: 20px 10px;
  height: 70px;
  line-height: 70px;
  border-radius: 2px;
  background-color: #fff7ed;
}
.top .price small{
  color: black;
}
.top .price p{
  margin-left:  10px;
  font-size: 20px;
  color: #f60;
  font-weight: bolder;
}
.top .buy{
  width: 200px;
  height: 50px;
}
.top h4{
  color: #ff8a00;
}
.top span{
  color: #ff8a00;
}
.middle,.bottom-1,.bottom-2{
  margin-top: 30px;
  border: 1px solid #ccc;
}
.case-left{
  margin: 15px 20px; 
}
.middle .row-case img{
  width: 260px;
  height: 290px;
}
.middle .row-case .case-title{
  margin-top: 10px;
  color: black;
  font-weight: bolder;
}
.bottom-1 .server,.bottom-2 .evaluate{
  margin: 15px 20px; 
}
.bottom-2 .evaluate a{
  color: black;
  font-size: 16px;
}
#record th{
   text-align: center;
}
.content{
  min-height: 744px;
}
#footer{
  background-color: #bbb;
  border-top: 1px solid #f1f1f1;
  padding: 20px;
  text-align: center;
}