@charset "utf-8";
.footer {
    background: #323232;
    font-size: 14px;
    color: #fff;
    .inner {
        width: 1184px;
        position: relative;
        margin: 0 auto;
    }
    a {
        color: #fff;
    }
    .footer-cont {
        padding: 10px 0;
        .logo {
            @extend %fl;
        }
        .connection {
            margin-left: 175px;
            line-height: 20px;
            p {
                padding: 2px;
            }
            .line {
                width: 0;
                height: 7px;
                font-size: 0;
                display: inline-block;
                border-left: 1px solid #757575;
                overflow: hidden;
                margin: 0 10px;
                vertical-align: middle;
            }
        }
        .company-info {
            padding: 35px 0 7px;
            line-height: 20px;
            p {
                padding: 7px;
            }
            .company {
                margin-right: 20px;
            }
            .license {
                margin-right: 15px;
            }
            a {
                margin-left: 23px;
            }
            img{
            	margin-right: 5px;
            }
        }
        .contact-us {
            position: absolute;
            right: 0;
            top: 33px;
            li {
                margin-bottom: 20px;
                @extend %fn-clear;
                position: relative;
            }
            .icon {
                position: absolute;
                left: 0;
                top: 0;
                width: 34px;
                height: 34px;
                overflow: hidden;
            }
            .icon-message {
                @include main-sprite(message);
            }
            .icon-phone {
                @include main-sprite(phone);
            }
            .cont {
                margin-left: 40px;
            }
            .title {
                line-height: 14px;
                padding-bottom: 5px;
            }
            .num {
                font-size: 16px;
            }
        }
    }
    .warning {
        font-size: 14px;
        height: 52px;
        line-height: 52px;
        background: #2b2b2b;
    }
}
