@charset "utf-8";

.mod-recommend {
    overflow: hidden;
    margin-top: .24rem;
    background: #fff;
    .hd {
        height: 1rem;
        padding: 0 .48rem;
        border-bottom: solid 1px #e0e0e0;
        line-height: 1rem;
        font-size: .48rem;
    }
    .bd {
        position: relative;
        overflow: hidden;
        padding: .48rem .48rem 0 .48rem ;
        font-size: .42rem;
        text-align: center;
        z-index: 1;
        ul {
            @extend %fn-clear;
            margin-right: -0.48rem;
        }
        a {
            display: block;
        }
        li {
            @extend %fl;
            width: 2.1rem;
            margin: 0 .48rem .52rem 0;
            overflow: hidden;
        }
        img {
            display: block;
            width: 2.1rem;
            height: 2.1rem;
            margin: 0 auto .22rem;
            @include border-radius(16.66%);
        }
        .txt {
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}