@charset "utf-8";
.mod-recharge {
    overflow: hidden;
    .module {
        @extend %fn-clear;
        overflow: hidden;
        background: #fff;
        .hd {
            padding: 0 .48rem;
            border-bottom: solid 1px #e0e0e0;
            line-height: 1rem;
            font-size: .48rem;
            color: #000;
        }
        .bd {
            overflow: hidden;
        }
    }
    .cnt-amount {
        margin-bottom: .24rem;
        .bd {
            padding: .48rem .48rem 0 .48rem;
        }
        ul {
            overflow: hidden;
            margin-right: -0.72rem;
        }
        .amount-item {
            @extend %fl;
            overflow: hidden;
            width: 2.8rem;
            height: 1.8rem;
            margin: 0 .72rem .48rem 0;
            @include box-sizing(border-box);
            border: solid .03rem #bdbdbd;
            color: #000;
            font-size: .36rem;
            text-align: center;
            line-height: 1.8rem;
            &.active {
                border-color: #ffc107;
                color: #ffc107;
            }
            .amount {
                padding-right: .05rem;
                font-size: .72rem;
            }
        }
        .inpt {
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding: .6rem .1rem;
            @include box-sizing(border-box);
            color: #000;
            text-align: center;
            font-size: .48rem;
        }
        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #000;
        }
        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #000;
        }
        input:-ms-input-placeholder {
            color: #000;
        }
        input::-webkit-input-placeholder {
            color: #000;
        }
    }
    .cnt-pay {
        .bd {
            padding-left: .48rem;
        }
        .pay-item {
            position: relative;
            width: 100%;
            height: 1.42rem;
            border-bottom: solid 1px #e0e0e0;
            line-height: 1.42rem;
            font-size: .42rem;
            &:last-child {
                border-bottom: none;
            }
        }
        .pay-icon {
            @extend %fl;
            overflow: hidden;
            height: .47rem;
            margin-top: .48rem;
        }
        .pay-alipay {
            width: .47rem;
            background: image-url('/image/h/pay/pay-alipay.png') no-repeat center;
            background-size: 100% 100%;
        }
        .pay-wechat {
            width: .47rem;
            background: image-url('/image/h/pay/pay-wechat.png') no-repeat center;
            background-size: 100% 100%;
        }
        .pay-upcash {
            width: .48rem;
            background: image-url('/image/h/pay/pay-upcash.png') no-repeat center;
            background-size: 100% 100%;
        }
        .txt {
            @extend %fl;
            margin-left: .5rem;
        }
        .ui-checkbox {
            @extend %fr;
            width: .63rem;
            height: .63rem;
            margin: .4rem .48rem 0 0;
            background: inline-image('h/pay/pay-checkbox.png') no-repeat center;
            background-size: contain;
            overflow: hidden;
        }
        .selected {
            .ui-checkbox {
                background: inline-image('h/pay/pay-checkbox-on.png') no-repeat center;
                background-size: 100% 100%;
            }
        }
    }
    .pay-footer {
        position: relative;
        width: 100%;
        height: 1.44rem;
        z-index: 999;
        .inner {
            overflow: hidden;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 10.8rem;
            margin: 0 auto;
            height: 1.44rem;
            background: #fff;
            font-size: .42rem;
        }
        .payment {
            margin: 0 2.76rem 0 .48rem;
            line-height: 1.44rem;
            font-size: .42rem;
        }
        .txt-red {
            padding-right: .14rem;
            color: #f36c60;
        }
        .submit-btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 2.76rem;
            height: 1.44rem;
            background: #ffc107;
            line-height: 1.44rem;
            font-size: .48rem;
            color: #fff;
            text-align: center;
        }
    }
}

.mod-wx-code {
    background-color: #fff;
    text-align: center;
    padding: 0 0.43rem;
    .wxpay-code {
        margin-bottom: 0.43rem;
        width: 3.74rem;
    }
    .wxpay-tip {
        width: 3.74rem;
    }
}

.alipay-frame {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.cross-pay-code {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .87);
    text-align: center;
    font-size: 0;
    &:before {
        content: "\200B";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .inner {
        padding-bottom: 0.35rem;
        display: inline-block;
        vertical-align: middle;
        font-size: 0.42rem;
        @include box-sizing(border-box);
        width: 8.1rem;
        background-color: #fff;
        @include border-radius(5px);
    }
    .title {
        position: relative;
        color: #000;
        padding: 0.55rem 0 0.8rem;
        text-align: center;
    }
    .close {
        position: absolute;
        top: 0.42rem;
        left: 0.48rem;
        width: 0.65rem;
        height: 0.65rem;
        background: image-url("h/pay/icon-close.png") no-repeat center;
        background-size: 100% 100%;
    }
    .code {
        text-align: center;
        img {
            width: 6rem;
            height: 6rem;
        }
    }
    .tip {
        padding: 0.6rem 0 0.1rem;
        text-align: center;
        line-height: 0.72rem;
        color: #000;
    }
    .btn-wrap {
        padding: 0 0.65rem;
        .btn {
            display: block;
            width: 100%;
            height: 1.1rem;
            line-height: 1.1rem;
            background: #2baf2b;
            text-align: center;
            font-size: 0.36rem;
            color: #fff;
            @include border-radius(4px);
        }
    }
}

.waiting-pay-result {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, .87);
    text-align: center;
    font-size: 0;
    &:before {
        content: "\200B";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .inner {
        padding: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        font-size: 0.42rem;
        width: 6.48rem;
        background-color: #fff;
        @include box-sizing(border-box);
        @include border-radius(5px);
    }
    p {
        color: #757575;
        img {
            width: 0.8rem;
            height: 0.8rem;
        }
    }
    .pic {
        padding: 0.05rem 0 0.55rem;
    }
    .tit {
        color: #09bb07;
        padding-bottom: 0.32rem;
    }
}
