@charset "utf-8";
@import "compass";
@import "../common/mod/method";
html,
body {
    width: 100%;
    height: 100%;
    background: #ffc107;
}

.shade-loading {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
    img {
        width: auto;
        height: 100%;
    }
}
