@charset "utf-8";
.mod-question {
    ul{
        overflow: hidden;
        padding-left: .48rem;
        background: #fff;
    }
    li {
        overflow: hidden;
        padding-right: .48rem;
        border-bottom: solid 1px #dfdfdd;
        &:last-child {
            border-bottom: none;
        }
        &.active {
            .question {
                &:after {
                    @include rotate(45deg);
                }
            }
        }
        .question {
            position: relative;
            overflow: hidden;
            height: 1.44rem;
            line-height: 1.44rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: .42rem;
            color: #000;
            &:after {
                content: " ";
                position: absolute;
                top: 50%;
                right: .12rem;
                width: 0.22rem;
                height: 0.22rem;
                margin-top: -0.11rem;
                border: solid 1px #010101;
                border-top: none;
                border-left: none;
                @include rotate(-45deg);
            }
        }
        .answer {
            display: none;
            padding-bottom: .36rem;
            color: #888;
            font-size: .42rem;
            line-height: .64rem;
            text-align: justify;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}
