@charset "utf-8";
@include bouncedelay;
.mod-recharge {
    overflow: hidden;
    .list-item {
        margin-bottom: .24rem;
        background: #fff;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .hd {
        height: .88rem;
        padding: 0 .48rem;
        border-bottom: solid 1px #e0e0e0;
        line-height: .88rem;
        color: #000;
        font-size: .36rem;
        .order-number {
            @extend %fr;
            color: #757575;
        }
        .num {
            color: #888;
        }
    }
    .bd {
        position: relative;
        height: 2.5rem;
        padding: .28rem .48rem .36rem .48rem;
        @include box-sizing(border-box);
        .pic {
            @extend %fl;
            width: 1.8rem;
            height: 1.8rem;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            @include border-radius(16.66%);
        }
        .cont {
            padding: .16rem 2.02rem 0 2.02rem;
            line-height: .74rem;
        }
        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #000;
            font-size: .48rem;
        }
        .time {
            font-size: .42rem;
            color: #888;
        }
        .pay {
            overflow: hidden;
            position: absolute;
            top: 50%;
            right: .48rem;
            margin-top: -0.6rem;
        }
        .amount {
            font-size: .36rem;
            color: #f76260;
            text-align: right;
        }
        .num {
            font-size: .6rem;
        }
        .status {
            margin-top: .2rem;
            font-size: .36rem;
            text-align: right;
        }
        .pending {
            margin-top: -1.1rem;
            .txt {
                display: block;
                color: #ffc107;
            }
        }
        .failed {
            .txt {
                color: #f76260;
            }
        }
        .success {
            .txt {
                color: #42bd41;
            }
        }
        .btn-pay {
            display: inline-block;
            margin-top: .2rem;
            width: 1.62rem;
            padding: .2rem 0;
            background: #ebebeb;
            border: solid 1px #bdbdbd;
            @include border-radius(3px);
            text-align: center;
        }
    }
}

.mod-more {
    border-top: solid 1px #e0e0e0;
    padding: 0.45rem;
    background: #fff;
    text-align: center;
    font-size: 0.42rem;
}

.mod-loading {
    margin: 0.3rem auto;
    width: 0.85rem;
    height: 0.85rem;
    position: relative;
    .conbox {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .conbox2 {
        @include transform(rotateZ(45deg));
    }
    .conbox3 {
        @include transform(rotateZ(90deg));
    }
    i {
        width: 0.15rem;
        height: 0.15rem;
        background-color: #888;
        @include border-radius(100%);
        position: absolute;
        @include animation(bouncedelay 1.2s infinite ease-in-out);
        @include animation-fill-mode(both);
    }
    .cir1 {
        top: 0;
        left: 0;
    }
    .cir2 {
        top: 0;
        right: 0;
        @include animation-delay(-0.9s);
    }
    .cir3 {
        right: 0;
        bottom: 0;
        @include animation-delay(-0.6s);
    }
    .cir4 {
        left: 0;
        bottom: 0;
        @include animation-delay(-0.3s);
    }
}
