@charset "utf-8";
html,
body {
    height: 100%;
    background: #44307d;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.mod-online {
    overflow: hidden;
    .top {
        height: 9.58rem;
        padding-top: 5.22rem;
        background: image-url("h/tg/redpackage/time_bg.png") no-repeat;
        background-size: 100% auto;
        @include box-sizing(border-box);
        .datetime {
            color: #ffc;
            font-size: 0;
        }
        .tit {
            font-size: .72rem;
            text-align: center;
        }
        .time {
            margin: .42rem 0 .5rem .7rem;
            text-align: center;
        }
        .min {
            display: inline-block;
            width: .84rem;
            height: .84rem;
            margin-left: .2rem;
            background: #f9af00;
            @include border-radius(.07rem);
            line-height: .84rem;
            text-align: center;
            font-size: .72rem;
            color: #633;
            vertical-align: bottom;
        }
        .txt {
            margin-left: .12rem;
            font-size: .48rem;
        }
        .btn {
            width: 6.8rem;
            height: 1.92rem;
            margin: 0 auto;
            background: image-url("h/tg/redpackage/time_btn.png") no-repeat;
            background-size: 100%;
            a {
                display: block;
                height: 100%;
                font-size: 0;
                line-height: 0;
            }
        }
        .btnActive {
            background: image-url("h/tg/redpackage/time_activ_btn.png") no-repeat;
            background-size: 100%;
        }
    }
    .main {
        margin-top: .8rem;
        padding: 0 .7rem 1.1rem;
        color: #ffc;
        .date {
            font-size: .72rem;
            text-align: center;
            padding-bottom: .12rem;
        }
        dl {
            overflow: hidden;
            line-height: .72rem;
            font-size: .48rem;
            padding-top: .72rem;
        }
        dd {
            text-align: justify;
        }
    }
}
