@charset "utf-8";
.mod-account {
    .form-item {
        position: relative;
        margin-top: 0.24rem;
        overflow: hidden;
        padding: 0 .48rem;
        background-color: #fff;
        .input-model {
            display: block;
            height: 1.44rem;
            width: 100%;
            padding: 0.42rem 0;
            font-size: 0.48rem;
            line-height: 0.6rem;
            color: #212121;
        }
    }
    .tip {
        padding: 0 .48rem;
        line-height: .9rem;
        font-size: .42rem;
        color: #bdbdbd;
    }
    .btn-wrap {
        margin-top: .28rem;
        padding: 0 .48rem;
        .button {
            display: block;
            width: 100%;
            height: 1.44rem;
            background: #2baf2b;
            @include border-radius(4px);
            box-sizing: border-box;
            text-align: center;
            line-height: 1.44rem;
            font-size: .6rem;
            color: #fff;
        }
    }
    .user-item {
        height: 1.44rem;
        width: 100%;
        padding: 0.42rem 0.48rem;
        font-size: 0.48rem;
        line-height: 0.6rem;
        color: #212121;
        @include box-sizing(border-box);
        background-color: #fff;
        .username {
            @extend %fr;
            color: #bdbdbd;
        }
    }
}