@charset "utf-8";
.mod-notice {
    @extend %fr;
    width: 284px;
    margin-top: 24px;
    .bd {
        height: 435px;
        padding: 0 17px;
        background: #fff;
    }
    ul {
        overflow: hidden;
        position: relative;
        top: -1px;
    }
    .item {
        border-top: solid 1px #e0e0e0;
        a {
            display: block;
            color: #212121;
            &:hover {
                color: #212121;
            }
        }
    }
    .notice {
        overflow: hidden;
        height: 48px;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 48px;
    }
    .notice-active {
        display: none;
        padding: 17px 0;
        .des {
            margin-top: 6px;
            line-height: 24px;
            font-size: 16px;
        }
        .time {
            color: #757575;
            font-size: 14px;
        }
    }
    .active {
        .notice {
            display: none;
        }
        .notice-active {
            display: block;
        }
    }
}
