@charset "utf-8";
.mod-strategy {
    @extend %fr;
    width: 284px;
    margin-top: 24px;
    .bd {
        height: 324px;
        padding: 0 17px;
        background: #fff;
    }
    ul {
        overflow: hidden;
        position: relative;
        top: -1px;
    }
    .item {
        border-top: solid 1px #e0e0e0;
        color: #212121;
    }
    .strategy {
        overflow: hidden;
        height: 48px;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 48px;
    }
    .strategy-active {
        display: none;
        padding: 13px 0;
        .tit {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
        }
        .des {
            margin-top: 6px;
            font-size: 12px;
            color: #757575;
            line-height: 20px;
        }
        a.detail {
            padding: 0 5px;
            color: #757575;
            &:hover {
                color: #ffa000;
            }
        }
    }
    .active {
        .strategy {
            display: none;
        }
        .strategy-active {
            display: block;
        }
    }
}
