<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>管理后台</title>
	<link rel="stylesheet" type="text/css" href="style/common/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style/common/neon-core.min.css">
	<link rel="stylesheet" type="text/css" href="style/common/neon-theme.min.css">
	<link rel="stylesheet" type="text/css" href="style/common/neon-forms.min.css">
	<link rel="stylesheet" type="text/css" href="style/common/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style/common/entypo.css">
	<link rel="stylesheet" type="text/css" href="style/common/custom.css">
</head>
<body class="page-body loaded">
	<div class="page-container">
		<div class="sidebar-menu">
			<header class="logo-env">
				<div class="logo">
					<a href="#"><img width="120" alt="Logo" src="image/logo.png"></a>
				</div>
				<div class="sidebar-collapse">
					<a class="sidebar-collapse-icon" href="javascript:;"> <i class="entypo-menu"></i></a>
				</div>
			</header>
			<ul id="main-menu">
				<li class="root-level">
					<a href="/admin">
						<i class="entypo-home"></i>
						<span>首页</span>
					</a>
				</li>
				<li class="root-level has-sub active opened">
					<a href="javascript:;"><i class="entypo-users"></i>
						<span>用户</span>
					</a>
					<ul class="visible">
						<li class="has-sub active opened">
							<a href="javascript:;">
								<i class="entypo-users"></i>
								<span>用户管理</span>
							</a>
							<ul class="visible">
								<li class="active">
									<a href="/admin/member">
										<span>列表</span>
									</a>
								</li>
								<li>
									<a href="/admin/member/count">
										<span>统计</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-login"></i>
								<span>7日登录</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/logins/list/">
										<span>7日登录列表数据</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="root-level has-sub">
					<a href="http://op.local.369123.com/admin/user/list/#">
						<i class="entypo-basket"></i>
						<span>夺宝</span>
					</a>
					<ul>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-dribbble"></i>
								<span>商品管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/oneproduct/stock/">
										<span>商品列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/oneproduct/product/">
										<span>夺宝列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/oneproduct/category/">
										<span>商品分类名列表</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-chart-area"></i>
								<span>夺宝管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/onelottery/partake/">
										<span>夺宝列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/onelottery/lottery/">
										<span>中奖列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/onelottery/veraddress/">
										<span>收货地址列表</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-picture"></i>
								<span>幻灯片管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/onetopic/topic/">
										<span>幻灯片列表</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-user"></i>
								<span>机器人管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/robot/list/">
										<span>机器人列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/robot/control/">
										<span>机器人控制</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="root-level has-sub">
					<a href="http://op.local.369123.com/admin/user/list/#">
						<i class="entypo-help"></i>
						<span>帮助</span>
					</a>
					<ul>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-archive"></i>
								<span>栏目管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/category/list/">
										<span>所有栏目列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/category/list/?parentid=1">
										<span>活动公告</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/category/list/?parentid=6">
										<span>常见问题</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/category/list/?parentid=2">
										<span>平台设置</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-feather"></i>
								<span>信息反馈管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/feedback/list/">
										<span>列表</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="root-level has-sub">
					<a href="http://op.local.369123.com/admin/user/list/#">
						<i class="entypo-docs"></i>
						<span>日志</span>
					</a>
					<ul>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-dropbox"></i>
								<span>用户日志</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/userlog/userlog/">
										<span>查看用户日志</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/userlog/finance/">
										<span>查看财务日志</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/userlog/integral/">
										<span>查看积分日志</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/userlog/adminlog/">
										<span>查看管理员日志</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-mail"></i>
								<span>消息管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/message/list/">
										<span>查看消息列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/message/add/">
										<span>发送消息</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-menu"></i>
								<span>队列管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/queue/list">
										<span>查看队列列表</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="root-level has-sub">
					<a href="http://op.local.369123.com/admin/user/list/#">
						<i class="entypo-cog"></i>
						<span>设置</span>
					</a>
					<ul>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-user"></i>
								<span>管理员</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/administrator/list/">
										<span>列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/administrator/group/">
										<span>管理员组</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-key"></i>
								<span>权限管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/purview/list/">
										<span>后台菜单</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/purview/add/">
										<span>添加</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-cog"></i>
								<span>系统设置</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/systemset/list/">
										<span>列表</span>
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/systemset/link/">
										<span>链接管理</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a href="http://op.local.369123.com/admin/user/list/#">
								<i class="entypo-flashlight"></i>
								<span>保留词管理</span>
							</a>
							<ul>
								<li>
									<a href="http://op.local.369123.com/admin/keepname/list/">
										<span>保留词列表</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="main-content" style="min-height: 947px;">
			<style>.img-circle{border-radius: 0;}</style>
			<div class="row">
				<div class="col-md-6 col-sm-8 clearfix">
					<ul class="user-info pull-left pull-none-xsm">
						<li class="profile-info dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="http://op.local.369123.com/admin/user/list/#">
								<img class="img-circle" width="44" alt="" src="image/50.png">陈晓波</a>
							<ul class="dropdown-menu">
								<li class="caret"></li>
								<li>
									<a href="http://op.local.369123.com/admin/administrator/password/">
										<i class="entypo-lock"></i>
										修改密码
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/user/list/#">
										<i class="entypo-doc-text"></i>
										日志
									</a>
								</li>
								<li>
									<a href="http://op.local.369123.com/admin/logout/">
										<i class="entypo-logout"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="navbar-collapse"></div>
			<div class="dataTables_wrapper"></div>
		</div>
	</div>
</body>
	<script src="script/common/jquery.min.js"></script>
	<script src="script/common/bootstrap.min.js"></script>
	<script type="text/javascript" src="script/common/main-gsap.js"></script>
	<script src="script/common/resizeable.js"></script>
	<script src="script/common/joinable.js"></script>
	<script src="script/common/neon-api.js"></script>
	<script src="script/common/neon-custom.js"></script>
	<script src="script/common/custom.js"></script>
</html>