@charset "utf-8";
.container {
    max-width: 1080px;
    width: 100%;
}

.mod-redpackage {
    overflow: hidden;
    .banner {
        width: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
    .redpackage {
        width: 100%;
        overflow: hidden;
    }
    .redpackagelist {
        width: 100%;
        overflow: hidden;
        li {
            position: relative;
            width: 100%;
            padding: 0 .48rem;
            background: #fff;
            @include box-sizing(border-box);
            &:first-child {
                a {
                    border-top: none;
                }
            }
        }
        a {
            display: table;
            width: 100%;
            padding: .46rem 0;
            @include box-sizing(border-box);
            border-top: solid 1px #e0e0e0;
        }
        .pic,
        .cont,
        .btn-wrap {
            display: table-cell;
            vertical-align: middle;
        }
        .pic {
            width: 21%;
            img {
                display: block;
                width: 2.1rem;
                height: 2.1rem;
            }
        }
        .cont {
            width: 62%;
            padding: 0 0 0 0.45rem;
            h3 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: .6rem;
                line-height: .82rem;
            }
            .txt {
                font-size: .48rem;
                color: #757575;
                line-height: 0.6rem;
            }
        }
        .btn-wrap {
            text-align: right;
            width: 17%;
        }
        .btn {
            display: inline-block;
            width: 1.7rem;
            padding: .18rem 0 .16rem;
            @include border-radius(3px);
            font-size: .42rem;
            text-align: center;
            &.btn-get {
                background: #ffc107;
                color: #212121;
            }
            &.btn-noget {
                background: #bdbdbd;
                color: #e0e0e0;
            }
            &.btn-sign {
                background: #4fc3f7;
                color: #fff;
            }
        }
    }
}
