@charset "utf-8";
.mod-info {
    @extend %fn-clear;
    .user{
        background: #fff;
        a{
            position: relative;
            display: block;
            height: 1.44rem;
            padding: .38rem .48rem;
            &:after{
                content: " ";
                position: absolute;
                top: 50%;
                right: .48rem;
                width: 0.22rem;
                height: 0.22rem;
                margin-top: -0.11rem;
                border: solid 1px #010101;
                border-top: none;
                border-left: none;
                @include rotate(-45deg);
            }
        }
        .avatar{
            @extend %fl;
            width: 1.44rem;
            height: 1.44rem;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .info{
            display: block;
            padding-left: 1.75rem;
        }
        .name{
            display: block;
            font-size: .48rem;
            color: #212121;
            line-height: .9rem;
        }
        .coin{
            display: block;
            font-size: .36rem;
            color: #757575;
            line-height: .46rem;
        }
    }
    ul {
        overflow: hidden;
        background: #fff;
        padding-left: .48rem;
        margin-top: .24rem;
    }
    li {
        height: 1.4rem;
        border-bottom: solid 1px #e0e0e0;
        line-height: 1.4rem;
        &:last-child{
            border-bottom: none;
        }
        &.user{

        }
        a {
            position: relative;
            display: block;
            width: 100%;
            padding-left: 1.08rem;
            @include box-sizing(border-box);
            font-size: .42rem;
            color: #212121;
            &:after{
                content: " ";
                position: absolute;
                top: 50%;
                right: .48rem;
                width: 0.22rem;
                height: 0.22rem;
                margin-top: -0.11rem;
                border: solid 1px #010101;
                border-top: none;
                border-left: none;
                @include rotate(-45deg);
            }
            i {
                position: absolute;
                top: 50%;
                left: 0;
                width: .6rem;
                &.ic-recent {
                    height: .36rem;
                    margin-top: -0.18rem;
                    background: image-url('h/member/ic_recent.png') no-repeat;
                    background-size: 100%;
                }
                &.ic-collect {
                    height: .51rem;
                    margin-top: -0.25rem;
                    background: image-url('h/member/ic_collect.png') no-repeat;
                    background-size: 100%;
                }
                &.ic-gifts {
                    height: .62rem;
                    margin-top: -0.31rem;
                    background: image-url('h/member/ic_gifts.png') no-repeat;
                    background-size: 100%;
                }
                &.ic-recharge {
                    height: .6rem;
                    margin-top: -0.3rem;
                    background: image-url('h/member/ic_recharge.png') no-repeat;
                    background-size: 100%;
                }
                &.ic-balance {
                    height: .6rem;
                    margin-top: -0.3rem;
                    background: image-url('h/member/ic_balance.png') no-repeat;
                    background-size: 100%;
                }
                &.ic-redpakage {
                    height: .64rem;
                    margin-top: -0.32rem;
                    background: image-url('h/member/ic_redpakage.png') no-repeat;
                    background-size: 100%;
                }
                &.ic-about {
                    height: .6rem;
                    margin-top: -0.3rem;
                    background: image-url('h/member/ic_about.png') no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}
