@charset "utf-8";
.module {
    margin-top: 0.24rem;
    background-color: #fff;
    &:first-child {
        margin-top: 0;
    }
    .hd {
        padding: 0 0.48rem;
        height: 1.0rem;
        line-height: 1.0rem;
        font-size: 0.48rem;
        border-bottom: 1px solid #e0e0e0;
    }
}

.mod-game {
    position: relative;
    padding: 0 0.48rem 0.45rem;
    .detail {
        position: relative;
        padding: 0.5rem 0 0.65rem;
    }
    .pic {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.9rem;
        img {
            display: block;
            width: 1.8rem;
            height: 1.8rem;
            @include border-radius(16.66%);
        }
    }
    .cont {
        display: block;
        padding: 0 2.35rem 0 2.3rem;
        .name {
            display: block;
            font-size: 0.6rem;
            line-height: 0.72rem;
            padding: 0.18rem 0;
        }
        .txt {
            display: block;
            font-size: 0.42rem;
            line-height: 0.5rem;
        }
    }
    .btn-collect {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -0.42rem;
        width: 1.85rem;
        padding: 0.22rem 0;
        background-color: #fd4e4b;
        @include border-radius(4px);
        text-align: center;
        font-size: 0;
        color: #fff;
        .love {
            position: relative;
            margin-right: 0.07rem;
            display: inline-block;
            width: 0.48rem;
            height: 0.41rem;
            background: image-url("h/game/love.png") no-repeat center;
            background-size: contain;
            vertical-align: top;
        }
        .redheart {
            position: absolute;
            left: 0.22rem;
            top: 0.22rem;
            display: block;
            width: 0.48rem;
            height: 0.41rem;
            opacity: 0;
            background: image-url("h/game/redheart.png") no-repeat center;
            background-size: contain;
        }
        .txt {
            font-size: 0.42rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .btn-disabled {
        background-color: #ccc;
        .love {
            display: none;
        }
    }
    .btn-start {
        display: block;
        width: 100%;
        padding: 0.33rem 0;
        background-color: #ffc107;
        font-size: 0.6rem;
        text-align: center;
        @include border-radius(4px);
    }
}

.mod-intro {
    position: relative;
    .bd {
        padding: 0.4rem 0.48rem 0.3rem;
        line-height: 0.72rem;
        color: #757575;
        font-size: 0.48rem;
    }
    .hide-cont {
        max-height: 2.16rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .hid-intro {
        display: none;
    }
    .show-article {
        display: inline-block;
        margin-top: 0.3rem;
        color: #43536a;
        font-size: 0.48rem;
        z-index: 10;
        line-height: 0.72rem;
    }
    .hide {
        display: none;
    }
}

.mod-swiper {
    position: relative;
    padding: 0.5rem 0.48rem;
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    .swiper-container {
        width: 100%;
    }
    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        @include box-sizing(content-box);
    }
    .swiper-slide {
        position: relative;
        overflow: hidden;
        width: 4.8rem;
        height: auto;
        padding-right: 0.22rem;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        flex: none;
        flex-shrink: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /*水平居中*/
        /*老版本语法*/
        -webkit-box-pack: center;
        -moz-box-pack: center;
        /*混合版本语法*/
        -ms-flex-pack: center;
        /*新版本语法*/
        -webkit-justify-content: center;
        justify-content: center;
        /*垂直居中*/
        /*老版本语法*/
        -webkit-box-align: center;
        -moz-box-align: center;
        /*混合版本语法*/
        -ms-flex-align: center;
        /*新版本语法*/
        -webkit-align-items: center;
        align-items: center;
    }
    img.pic-show {
        display: block;
        width: 4.8rem;
        ;
        height: auto;
    }
    .swiper-scrollbar {
        position: absolute;
        left: 1%;
        bottom: 5px;
        z-index: 50;
        height: 2px;
        width: 98%;
    }
    .swiper-scrollbar-drag {
        background: rgba(0, 0, 0, 0.3);
    }
    .pic-hidden {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

.mod-gift {
    .bd {
        .item {
            height: 1.5rem;
            line-height: 1.5rem;
            background-color: #fff;
            border-top: 1px solid #e0e0e0;
            font-size: 0.48rem;
            &:first-child {
                border-top: none;
            }
            a {
                position: relative;
                padding: 0 2.65rem 0 1.2rem;
                display: block;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                background: image-url("h/game/gift.png") no-repeat 0.48rem;
                background-size: 0.48rem 0.48rem;
            }
            .txt {
                vertical-align: middle;
            }
            .btn {
                position: absolute;
                top: 50%;
                right: 0.48rem;
                margin-top: -0.42rem;
                width: 1.85rem;
                padding: 0.22rem 0;
                background-color: #ffc107;
                text-align: center;
                font-size: 0.42rem;
                color: #212121;
                line-height: 1;
                @include border-radius(4px);
            }
        }
    }
}

.mod-notice {
    .item {
        border-top: 1px solid #e0e0e0;
        &:first-child {
            border-top: none;
        }
        a {
            @extend %fn-clear;
            display: block;
            padding: 0.46rem 0.48rem;
        }
    }
    .img {
        @extend %fl;
        width: 1.8rem;
        height: 1.36rem;
        margin-right: 0.48rem;
        img {
            display: block;
            width: 1.8rem;
            height: 1.36rem;
        }
    }
    .info {
        position: relative;
        font-size: 0.48rem;
        height: 1.44rem;
        line-height: 0.72rem;
        text-align: justify;
        overflow: hidden;
    }
    .time {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #fff;
        padding-left: 0.6rem;
        color: #bdbdbd;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 10%);
    }
}
